# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# If you use Postgres or MySQL, ignore dump files
*.sql

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS / Linux / Windows cruft
.DS_Store
Thumbs.db
