<!-- templates/chat.html -->
{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Chatbot in development...</h2>
        <div id="chat-window" class="border rounded p-3 mb-4" style="height: 300px; overflow-y: auto;">
            {% for chat in messages %}
                <!-- Usuario -->
                <div class="d-flex justify-content-end mb-2">
                    <div class="bg-primary text-white p-2 rounded" style="max-width: 75%;">
                        <strong>{{ chat.user.username }}:</strong>
                        {{ chat.message }}
                    </div>
                </div>
                <!-- Respuesta IA -->
                {% if chat.response %}
                    <div class="d-flex justify-content-start mb-4">
                        <div class="bg-light text-dark p-2 rounded" style="max-width: 75%;">
                            <strong>AI:</strong>
                            {{ chat.response }}
                        </div>
                    </div>
                {% endif %}
                {% empty %}
                    <p class="text-muted">No hay mensajes aún. ¡Empieza la conversación!</p>
            {% endfor %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}
