<!-- templates/chat.html -->
{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block style %}
main {
    padding: 2rem;
    text-align: center;
}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4"> {{ user.username }}'s profile</h1>

        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>

        <a href="{% url 'user-edit' user.id %}" class="btn btn-primary">Edit profile</a>
    </div>
{% endblock %}
